.cart__container {
    position: relative;
    max-width: 120rem;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart__container .cart__innerbox {
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart__items {
    position: relative;
    width: 100%;
    min-height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    padding: 2rem 3rem;
    background: var(--ori-white);
    margin-bottom: 2rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.2);
}


.cart__items .item__img {
    position: relative;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 1px solid var(--soft-black);
}

.item__img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.cart__items .item__title,
.item__price {
    white-space: nowrap;
}

.cart__container .total {
    display: flex;
    gap: 20rem;
    font-size: 2rem;
}

@media(max-width: 600px) {
    .cart__items {
        flex-direction: column;
        gap: 2rem;
    }

    .cart__container .total {
        gap: 10rem;
    }
}