.container{
     max-width: 100vw;
     min-height: 100vh;
     display: flex;
     padding: 2rem;
     position: relative;
     justify-content: space-between;
}
.container .filter-box{
     width: 30%;
     background: var(--ori-white);
     height: 100vh;
     position: sticky;
     top: 9rem;
    box-shadow: 0 3px 18px rgba(0,0,0,.3);
}
.container .products-box{
     width: 67%;
     display: flex;
     align-items: flex-start;
     justify-content: center;
     flex-wrap: wrap;
}

.container .loading::after{
     content: "Loading.";
     font-size: 3rem;
     font-weight: bold;
     animation: loading-text .8s infinite;
}
@keyframes loading-text {
     0%{
          content: "Loading.";
     }
     25%{
          content: "Loading..";
     }
     50%{
          content: "Loading...";
     }
     75%{
          content: "Loading....";
     }
}