.container {
     max-width: 100vw;
     min-height: 100vh;
     display: flex;
     padding: 2rem;
     position: relative;
     justify-content: space-between;
}

.container .filter-box {
     width: 33rem;
     background: var(--ori-white);
     padding: 2rem;
     height: 100vh;
     position: sticky;
     top: 9rem;
     box-shadow: 0 3px 18px rgba(0, 0, 0, .3);
}

.filter-box .filter-heading {
     font-size: 3.5rem;
     font-weight: 500;
     margin-bottom: 4rem;
}

.filter-box .filter-list {
     display: flex;
     flex-direction: column;
     gap: 2rem;
}

.filter-box .filter-list .filters {
     display: flex;
     gap: 2rem;
     font-size: 1.8rem;
}

.filter-box .filter-list .filters input {
     width: 2rem;
}

.container .products-box {
     width: 70%;
     display: flex;
     align-items: flex-start;
     justify-content: flex-start;
     flex-wrap: wrap;
}